<!DOCTYPE html>
<html lang="ch" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}">
</head>
<body class="container" >
<div th:insert="~{head :: head1}"></div>
<br>
<h1>添加用户</h1>
<br>
<div class="with=:80%">
    <form class="form-horizontal" th:action="@{/save}" method="post">
         <div class="form-group">
             <label for="name" class="col-sm-2 control-label">name</label>
             <div class="col-sm-3">
             <input type="text" class="form-control" name="name" id="name" placeholder="姓名">
             </div>
         </div>
        <div class="form-group">
            <label for="age" class="col-sm-2 control-label">age</label>
            <div class="col-sm-3">
            <input type="text" class="form-control" name="age" id="age" placeholder="年龄">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-4">
                <input type="submit" value="提交" class="btn btn-info">
                &nbsp; &nbsp; &nbsp; &nbsp;
                <input  type="reset" value="重置"class="btn btn-info">
            </div>
        </div>
    </form>
</div>

<div th:insert="~{footer :: copy}"></div>
</body>
</html>